<ul>
  <div class="search-container">
    <form >
      <input type="text" placeholder="Search.." name="search">
      <button type="search">Search</button>
    </form>
  </div>
  <br>
  <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Food Survey</a></li>
  <li><a routerLink="/home/car" routerLinkActive="active">Car Survey</a></li>
  <li><a routerLink="/home/teacher" routerLinkActive="active">Teachers Survey</a></li>
</ul>
<router-outlet></router-outlet>
